.imageSliderDisplay {
    object-fit: cover;
    max-width: 1600px;
    max-height: 750px;
    border: 2px solid black;
}

.sliderFullStyle {
    max-width: 1600px;
    max-height: 750px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
} 