
    .constructionTextMainPresStyle {
        position: absolute;
        right: 10px;
        top: 5%;
        font-size: 300%;
        color: white; 
        font-family: Montserrat; 
        text-align: right; 
        display: inline-block; 
        text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000
    }
    .constructionTextSecPresStyle {
        position: absolute; 
        right:10px;
        top: 15%; 
        font-size:200%;
        color: white; 
        font-family: Montserrat;
        text-align:right; 
        display: inline-block; 
        text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000

    }
    .constructionTextThirdPresStyle {
        position: absolute; 
        right:10px;
        top: 22%; 
        font-size:200%;
        color: white; 
        font-family: Montserrat; 
        text-align:right; 
        display: inline-block; 
        text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000

    }
    .constructionTextFourthPresStyle {
        position: absolute; 
        right:10px;
        top: 29%; 
        font-size:200%;
        color: white; 
        font-family: Montserrat; 
        text-align:right; 
        display: inline-block; 
        text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000

    }

    .renovationTextMainPresStyle {
            position: absolute; 
            left:10px;
            top: 5%; 
            font-size:300%;
            color: black; 
            font-family: Montserrat; 
            text-align: left; 
            display: inline-block; 
            text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff
       }

        .renovationTextSecPresStyle{
            position: absolute; 
            left:10px;
            top: 15%; 
            font-size:200%;
            color: black; 
            font-family: Montserrat; 
            text-align: left; 
            display: inline-block; 
            text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff

        }

        .renovationTextThirdPresStyle {
            position: absolute; 
            left:10px;
            top: 22%;
            font-size:200%;
            color: black; 
            font-family: Montserrat; 
            text-align: left;
            display: inline-block; 
            text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff

        }

        .renovationTextFourthPresStyle {
            position: absolute; 
            left:10px;
            top: 29%; 
            font-size:200%;
            color: black; 
            font-family: Montserrat; 
            text-align: left; 
            display: inline-block; 
            text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff
    
        }